/NetBeansProjects/Lesson_5/nbproject/private/
/NetBeansProjects/Lesson_4/nbproject/private/
/NetBeansProjects/Lesson_4/build/
/NetBeansProjects/Lesson_5/build/
/NetBeansProjects/Lesson6/nbproject/private/
/NetBeansProjects/Lesson6/build/
/NetBeansProjects/Soccer_App/nbproject/private/
/NetBeansProjects/Lesson7/nbproject/private/
/NetBeansProjects/Lesson_7/nbproject/private/
/NetBeansProjects/Lesson_7/build/
/NetBeansProjects/Lesson_8/nbproject/private/
/NetBeansProjects/Lesson_8/build/
/NetBeansProjects/Lesson9/nbproject/private/
/NetBeansProjects/Lesson9/build/
/NetBeansProjects/Testing9/nbproject/private/
/NetBeansProjects/Testing9/build/
/NetBeansProjects/Lesson 10/nbproject/private/
/NetBeansProjects/Lesson 10/build/
